@import url("http;//fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}

.navbar .logo a {
  font-size: 30px;
  font-weight: 700;
  color: red;
  letter-spacing: 1px;
  text-decoration: none;
}

nav .signin-button {
  background: red;
  text-decoration: none;
  padding: 12px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.2s ease;
}

nav .signin-button:hover {
  background: #112;
  color: red;
}

.home {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: url(xps-8pb7Hq539Zw-unsplash.jpg) no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -2;
}

.home-content .text-1 {
  font-size: 52px;
  font-weight: 600;
  margin: 10px 340px;
  color: white;
}

.home-content .text-2 {
  margin: 20px 0;
  font-size: 20px;
  color: white;
}

.home-content .text-3 {
  margin: 10px 0;
  font-size: 18px;
  color: white;
}

.home-content .signup-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.home-content .signup-form form input {
  height: 95%;
  width: 100%;
  border: 1px solid lightgrey;
  outline: none;
  padding-top: -2px;
  padding-bottom: -2px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.home .max-width {
  margin: auto 30px auto 30px;
}

.home-content .signup-form .signup-button {
  font-size: 17px;
  background: red;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 12px 30px;
  display: flex;
  align-self: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.home-content .signup-form .signup-button:hover {
  background: #112;
  color: red;
}

.home-content h4 {
  color: white;
}


@media (max-width: 1250px) {
  .home .text-1 {
    font-size: 49px;
    font-weight: 600;
    margin: 0 330px;
  }
}

@media (max-width: 1200px) {
  nav .signin-button {
    font-size: 15px;
  }
  .home .text-1 {
    font-size: 38px;
    font-weight: 600;
    margin: 10px 300px;
  }

  .home .signup-form form input {
    height: 95%;
    width: 100%;
    font-size: 16px;
  }

  .home .signup-form .signup-button {
    font-size: 18px;
  }

  .home .text-2 {
    font-size: 17px;
  }

  .home .text-3 {
    font-size: 16px;
  }

@media (max-width: 1024px) {
  .home .text-1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 200px;
  }
  .home .text-2 {
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 1px;
  }

  .home .text-3 {
    font-size: 15px;
    letter-spacing: 1px;
  }
}

@media (max-width: 760px) {
  .home .text-1 {
    font-size: 38px;
    font-weight: 600;
    margin: 10px 150px;
  }


  .home .text-2 {
    margin: auto -8px;
    line-height: 17px;
    letter-spacing: 1px;
  }

  .home .text-3 {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .home .signup-form form input {
    height: 95%;
    width: 100%;
    margin: auto -4px;
  }

  .home .signup-form .signup-button {
    font-size: 14px;
    margin: auto -4px;
  }
}


@media (max-width: 680px){
  .home .text-1 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 60px;
  }

}
@media (max-width: 480px) {
  .home .max-width {
    margin: auto 20px auto 20px;
  }

  .navbar .max-width {
    margin: 0 15px;
  }

  .navbar .logo a {
    font-size: 23px;
    font-weight: 700;
  }

  nav .signin-button {
    font-size: 13px;
    padding: 12px 20px;
  }

  .home .text-1 {
    font-size: 27px;
    font-weight: 600;
    margin: 7px 40px;
  }
  .home .text-2 {
    font-size: 15px;
    margin: auto -5px;
    letter-spacing: 1px;
  }

  .home .text-3 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
  }

  .home-content h4 {
    font-size: 15px;
  }

  .home .signup-form form input {
    height: 95%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    /* font-size: 13px; */
  }

  .home-content .signup-form .signup-button {
    font-size: 15px;
    padding: 3px 18px;
    font-weight: 100;
  }
}
